.isi-wrapper {
  max-width: 100%;
}

.isi-wrapper h5 {
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  margin-bottom: 8px;
  margin-top: 0;
  color: #ea1b75;
}

.isi-wrapper p {
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 8px;
  color: #434a4f;
}
