/* stylelint-disable max-line-length */

/* Dovato.com Font System */

/* Lato - Body Font */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../fonts/Lato-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/Lato-Regular.ttf') format('truetype');
}

/* Poppins - Heading Font */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/Poppins-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('../fonts/Poppins-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/Poppins-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('../fonts/Poppins-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins-Black';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('../fonts/Poppins-Black.ttf') format('truetype');
}

/* Roboto Condensed - Utility Font */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/RobotoCondensed-Regular.ttf') format('truetype');
}

/* EY Interstate Font Family */
@font-face {
  font-family: 'EY Interstate';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../fonts/EYInterstate-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'EY Interstate';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url('../fonts/EYInterstate-LightItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'EY Interstate';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/EYInterstate-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'EY Interstate';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/EYInterstate-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'EY Interstate';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../fonts/EYInterstate-LightBold.ttf') format('truetype');
}

@font-face {
  font-family: 'EY Interstate';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url('../fonts/EYInterstate-LightBoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'EY Interstate';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/EYInterstate-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'EY Interstate';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/EYInterstate-BoldItalic.ttf') format('truetype');
}
